.customFileUpload .ui-fileupload-progress {
	display: none;
}

.customFileUpload .ui-fileupload-cancel {
/* 	display: none; */
}

.customFileUpload .ui-fileupload-files {
	margin: 1px 0;
/* 	width: 150px !important; */
	display: inline-block;
	height: 30px;
}

.customFileUpload td.ui-fileupload-preview {
	display: none;
}

.customCompanyFileUpload .ui-fileupload-progress {
	display: none;
}

.customCompanyFileUpload .ui-fileupload-cancel {
/* 	display: none; */
}

.customCompanyFileUpload .ui-fileupload-files {
	margin: 1px 0;
/* 	width: 150px !important; */
	display: inline-block;
	height: 30px;
}

.ui-datalist-data {
	-webkit-padding-start: 0px;
	padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
}

.ui-datalist .ui-datalist-header{
	padding: 5px !important;
}

.ui-datalist-footer{
	padding: 0px !important;
}

.customTimePicker{
	padding-top: 1px !important;
    padding-bottom: 1px !important;
}

