.planning-dataTable table {
	table-layout: fixed;
	border-collapse: separate;
}

.planning-dataTable thead {
	/*display: none;*/
	
}

.task-dataTable thead {
	display: none;
}

.ui-datascroller .ui-datascroller-item {
	padding: 5px;
}

.pe-layout-pane-header {
	background: #2391B2;
}

.ui-layout-pane {
	border: 1px solid #9d9d9d;
	color: #000000;
	background-color: #ffffff;
	background: -moz-radial-gradient(50% 75%, circle, #ffffff, #e6e6e6);
	background: -webkit-radial-gradient(50% 75%, circle, #ffffff, #e6e6e6);
}

.pe-layout-pane-content {
	padding: 0px !important;
}

.ui-layout-resizer {
	background-color: #d1d3d4;
}

.stickyHeader {
	width: 1700px;
	margin-top: -0.5%;
}

.ui-datatable-tablewrapper {
	margin: auto;
	overflow: hidden !important;
}

.planning-dataTable .ui-datatable-data th {
	height: 37px;
	overflow: hidden;
}

.planning-dataTable .ui-datatable-data td {
	overflow: hidden;
	navigator
}

.planning-dataTable .ui-datatable-data tr {
	height: 50px;
	overflow: hidden;
	/* 	width: 1700px; */
}

.planning-action-column {
	width: 50px;
	padding: 3px 0px 0px 0px !important;
	text-align: center;
}

/* kanban notes */
.kanbanDivStyle {
	width: 300px;
	float: left;
}

.StickyNoteScrum {
	font-size: 140%;
	font-weight: bold;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000;
	background: #ffc;
	margin: auto;
	display: block;
	/*   height:10em; */
	/*   width:10em; */
	padding: 1em;
	/* Firefox */
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
	font-family: "Reenie Beanie", arial, sans-serif;
	-webkit-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
}

.ui-datascroller-list .ui-datascroller-item:nth-child(even) .StickyNoteScrum
	{
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	position: relative;
	/* 	top: 5px; */
	background: #cfc;
}

.ui-datascroller-list .ui-datascroller-item:nth-child(3n) .StickyNoteScrum
	{
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	/* 	top: -5px; */
	background: #ccf;
}

.ui-datascroller-list .ui-datascroller-item .StickyNoteScrum:hover,
	.ui-datascroller-list .ui-datascroller-item .StickyNoteScrum:focus {
	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

.StickyNote {
	font-size: 140%;
	font-weight: bold;
	padding-bottom: 10px;
	text-decoration: none;
	color: #000;
	background: #ffc;
	margin: auto;
	display: block;
	/*   height:10em; */
	/*   width:10em; */
	padding: 1em;
	/* Firefox */
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
	font-family: "Reenie Beanie", arial, sans-serif;
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	
}

.Card .StickyNote:nth-child(3n+1) {
	-webkit-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	position: relative;
	top: 5px;
	background: #cfc;
}

.Card .StickyNote:nth-child(3n+2) {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	top: -5px;
	background: #ccf;
}

.Card .StickyNote:hover, .Card .StickyNote:focus {
	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position: relative;
	z-index: 5;
}