body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-wrap: break-word;
	vertical-align: top;
}

body {
	background-color: #fff;
	text-align: left;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a {
	text-decoration: underline;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

.wrapper {
	width: 100%;
	height: 100%;
	vertical-align: top;
	overflow: scroll;
}

.menu {
	width: 180px;
	vertical-align: top;
	text-align: left;
	margin-right: 5px;
	word-wrap: break-word;
}

.central {
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: left;
}

.content {
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: left;
}

.chat {
	width: 180px;
	vertical-align: top;
	text-align: left;
	margin-right: 5px;
	word-wrap: break-word;
}

.banner {
	margin-bottom: 5px;
}

.action-column {
	text-align: center;
	width: 120px !important;
}

.ui-datatable .ui-column-filter {
	display: block;
	width: 120px;
	margin: auto;
}

.cleanMenu .ui-tabmenu .ui-tabmenu-nav.ui-widget-header {
	padding-left: 0px !important;
	width: 100% !important;
}

.ui-tabmenu .ui-tabmenu-nav.ui-widget-header {
	padding-left: 0px !important;
}

.cleanTab .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-default {
	padding: 5px 1px;
}

.ui-datatable-header {
	text-align: right !important;
}

.ui-selectmanymenu {
	width: 155px !important;
	height: 100px !important;
}

.dialog {
	width: auto;
}

.col1 {
	vertical-align: top;
	font-weight: bold;
}

.col2 {
	vertical-align: top;
}

.col3 {
	vertical-align: top;
}

.CodeMirror-gutter {
	z-index: 0;
}

.TestcaseWithoutTeststep {
	background-color: #CCCCCC;
	font-weight: bold;
}

.TestcaseNotExecuted {
	color: #0000FF;
	font-weight: bold;
}

.TestcaseFailed {
	color: #FF0000;
	font-weight: bold;
}

.TestcaseFailedWithoutBuild {
	background-color: #FF8888;
	font-weight: bold;
}

.TestcaseNonFini {
	color: #F7BE81;
	font-weight: bold;
}

.TestcaseNonFiniWithoutBuild {
	background-color: #F5D0A9;
	font-weight: bold;
}

.TestcaseSuccess {
	color: #00FF00;
	font-weight: bold;
}

.TestcaseSuccessWithoutBuild {
	background-color: #88FF88;
	font-weight: bold;
}

.TestcaseChapter {
	color: black;
	font-weight: bold;
}
div.timeline-event-range {
	height: 15px !important;
}
div.timeline-groups-axis {
	width: 10px;
	/*display: none;
	visibility: hidden;*/
	height: 15px !important;
}
div.timeline-groups-axis-onleft {
	width: 10px;
	/*display: none;
	visibility: hidden;*/
	height: 15px !important;
}
div.timeline-event-selected {
	background: #BECEFE none !important;
	border-color: black !important;
}

div.timeline-event {
	color: black !important;
	border-radius: 5px !important;
	height: 15px !important;
}
div.timeline-event-line {
	height: 15px !important;
}
div.timeline-event-content {
	height: 13px !important;
}

div.timeline-axis {
	border-color: #F5F5F5;
	background-color: #F5F5F5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#E6E6E6') alpha(opacity = 100);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E6E6E6));
	background: -moz-linear-gradient(top, #F5F5F5, #E6E6E6);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 0.8;
	height: 15px !important;
}
div.timeline-axis-grid {
	height: 15px !important;
}
div.timeline-groups-text {
	height: 28px;
}

div.timeline-navigation-delete {
	display: none;
}

div.planned {
	background: #5882FA none !important; /* blue */
	border-color: white; /* white */
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

div.real {
	background: #118811 none !important; /* orange */
	border-color: black; /* black */
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

div.chapter {
	background: black none !important; /* black */
	border-color: white; /* white */
	opacity: 0.5;
	filter: alpha(opacity = 50);
	height: 20px !important;
}

.task {
	height: 28px;
}

.old {
	background-color: #FCA752 !important;
	background-image: none !important;
	color: black !important;
}

.RequirementNoTask {
	background-color: #CCCCCC !important;
	background-image: none !important;
	color: black !important;
}

.RequirementNotLinked {
	background-color: #FF8888 !important;
	background-image: none !important;
	color: black !important;
}

.RequirementInProcess {
	background-color: #8888FF !important;
	background-image: none !important;
	color: black !important;
}

.RequirementFinishedSuccessed {
	background-color: #88FF88 !important;
	background-image: none !important;
	color: black !important;
}

.RequirementFinishedTestProcess {
	background-color: #88DDDD !important;
	background-image: none !important;
	color: black !important;
}
//bug dattable style 
.NEW {
	background-color: #B0DAF2 !important;
	background-image: none !important;
	color: black !important;
}
.ASSIGNED {
	background-color: #A2D1EB !important;
	background-image: none !important;
	color: black !important;
}
.REOPENED {
	background-color: #69A6C8 !important;
	background-image: none !important;
	color: black !important;
}
.READY {
	background-color: #4F94B9 !important;
	background-image: none !important;
	color: black !important;
}
.FIXED {
	background-color: #3882A9 !important;
	background-image: none !important;
	color: black !important;
}
.INVALID {
	background-color: #1A6993 !important;
	background-image: none !important;
	color: black !important;
}
.WONTFIX {
	background-color: #0791DC !important;
	background-image: none !important;
	color: black !important;
}
.DUPLICATE {
	background-color: #0B9CEF !important;
	background-image: none !important;
	color: black !important;
}
.RESOLVED {
	background-color: #1BA9F9 !important;
	background-image: none !important;
	color: black !important;
}
.VERIFIED {
	background-color: #174597 !important;
	background-image: none !important;
	color: black !important;
}
.CLOSED {
	background-color: #88DDDD !important;
	background-image: none !important;
	color: black !important;
}