body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-wrap: break-word;
	vertical-align: top;
}

body {
	background-color: #fff;
	text-align: left;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a {
	text-decoration: underline;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

.wrapper {
	width: 100%;
	height: 100%;
	vertical-align: top;
	overflow: scroll;
}

.menu {
	width: 180px;
	vertical-align: top;
	text-align: left;
	margin-right: 5px;
	word-wrap: break-word;
}

.central {
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: left;
}

.content {
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: left;	
}

.chat {
	width: 180px;
	vertical-align: top;
	text-align: left;
	margin-right: 5px;
	word-wrap: break-word;
}

.banner {
	margin-bottom: 5px;
}

.action-column {
	text-align: center;
	width: 120px !important;
}

.cleanMenu .ui-tabmenu .ui-tabmenu-nav.ui-widget-header {
	padding-left: 0px !important;
	width: 100% !important;
}

.ui-tabmenu .ui-tabmenu-nav.ui-widget-header {
	padding-left: 0px !important;
}

.cleanTab .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-default {
	padding: 5px 1px;
}
.ui-datatable-header {
text-align: right !important;
}

.ui-selectmanymenu {
	width: 155px !important;
	height: 100px !important;
}

.dialog {
	width: auto;
}

.col1 {
	vertical-align: top;
	font-weight: bold;
}

.col2 {
	vertical-align: top;
}

.col3 {
	vertical-align: top;
}

.CodeMirror-gutter {
	z-index: 0;
}

.TestcaseNotExecuted{
  color:blue;
}
.TestcaseFailed{
  color:red;
}
.TestcaseSuccess{
  color:green;
}
.TestcaseChapter{
  color:black;
  font-weight:bold;
}